<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/change-password.css') }}">
    <link rel="icon" href="{{url_for('static', filename='img/icon.png')}}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</head>
<body onload="changeColorInfo('error')">
    <div id="main-container">
        <h1>Create a password</h1>
        <form action="/change-password" method="POST">
            <label>Your new password:</label><br>
            <input name="password" type="password" placeholder="Password"><br>

            <label>Your new password again:</label><br>
            <input name="copy-password" type="password" placeholder="Password again"><br>

            <input id="send" type="submit" value="Send">

        </form>
        <button onclick="triggerButtonClick('index-link')"><a id="index-link" href="{{ url_for('index') }}">Back</a></button><br>
        <p id="error">{{error}}</p>
    </div>

</body>
</html>
